<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muyan.mapper.TagMapper">

    <insert id="insertNotExists" parameterType="com.muyan.domain.entity.Tag">
        INSERT IGNORE INTO t_tag (code, name) VALUES
        <foreach collection='tagList' item='item' separator=','>
        (#{item.code}, #{item.name})
        </foreach>
    </insert>
</mapper>